= form_for @lesson do |f|
	.field
		%td= f.label :name, "Name your video quiz:", :class => "form_label"
		%td= f.text_field :name, :class => "form_field"
	.field
		%td= f.label :media_url, "Link to YouTube video:", :class => "form_label"
		%td= f.text_field :media_url, :class => "form_field"
	%br/

	.actions
		%td= f.submit