<h1>Listing Lessons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Media Url</th>
    <th>Image Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lessons.each do |l| %>
  <tr>
    <td><%= l.name %></td>
    <td><%= l.media_url %></td>
    <td><%= l.imageurl %></td>
    <td><%= link_to 'Show', l %></td>
    <td><%= link_to 'Edit', edit_lesson_path(l) %></td>
    <td><%= link_to 'Destroy', l, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lesson', new_lesson_path %>
