= hidden_field_tag :media_url, '4qlYGX0H6Ec'
= hidden_field_tag :questions, []
#create_quiz
	#media
		#video_container
			#video
			#video_control.play
		#progress_bar_container
			#progress_bar
				#q-markers
				.elapsed
	#question_area
		#add_question
			%a Add a Question
		#question_container{:style => "display:none"}
			#question
				= text_area nil, nil, :id => "question_input", :placeholder => "Question"
			#answers	
				.answer#answer_1{:style => "display:none"}
					.indicator
						= image_tag("correct.png", :class => "indicator_mark correct")
					.answer_space
						= text_field nil, nil, :id => "answer_input_1", :placeholder => "Answer", :class => "answer_field"   
				.answer#answer_2{:style => "display:none"}
					.indicator
						= image_tag("incorrect.png", :class => "indicator_mark correct")
					.answer_space
						= text_field nil, nil, :id => "answer_input_2", :placeholder => "Answer", :class => "answer_field"  
				.answer#answer_3{:style => "display:none"}
					.indicator
						= image_tag("incorrect.png", :class => "indicator_mark correct")
					.answer_space
						= text_field nil, nil, :id => "answer_input_3", :placeholder => "Answer", :class => "answer_field"  
				.answer#answer_4{:style => "display:none"}
					.indicator
						= image_tag("incorrect.png", :class => "indicator_mark correct")
					.answer_space
						= text_field nil, nil, :id => "answer_input_4", :placeholder => "Answer", :class => "answer_field"  			
			%a#finish Save and Continue    		

/ #question_container{:style => "display:none"}
/ 	#question
/ 		= text_area nil, nil, :placeholder => "Question", :class => "question_input"
/ 	#answers
/ 		.answer
/ 			.indicator
/ 				= image_tag("correct.png", :class => "indicator_mark correct")
/ 			.answer_space
/ 				= text_field nil, nil, :placeholder => "Answer", :class => "answer_field"   
/ 		.answer
/ 			.indicator
/ 				= image_tag("incorrect.png", :class => "indicator_mark correct")
/ 			.answer_space
/ 				= text_field nil, nil, :placeholder => "Answer", :class => "answer_field"  
/ 		.answer
/ 			.indicator
/ 				= image_tag("incorrect.png", :class => "indicator_mark correct")
/ 			.answer_space
/ 				= text_field nil, nil, :placeholder => "Answer", :class => "answer_field"  
/ 		.answer
/ 			.indicator
/ 				= image_tag("incorrect.png", :class => "indicator_mark correct")
/ 			.answer_space
/ 				= text_field nil, nil, :placeholder => "Answer", :class => "answer_field"  
/ 	%a#finish Save and Continue    